#profPic {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-top: 10px;
}
#quote {
    font-size: 12pt;
    color: gray;
    display: block;
}
#show{
    color: blue;
}
p {
    margin:20px;
}

.albumImg {
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.iFrame{
    margin-top: 15px;
    width:150px;
    height: 30px;
}

.top {
    margin-top: 15px;
}

.h3 {
 margin-left: 10px;
 text-align: left;
}

.songList {
    text-align: left;
    background-color: black;
    color: white;
    margin-top: 10px;
}
.songItem {
    border-bottom: thin dotted white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.songItem img, .songItem p {
    display: inline;
    margin-left: 10px;
}


@media screen and (min-width:768px){

    .iFrame{
        transform: translateX(-250px);
    }

    #search {
        margin-right: 3000px;
        width: 300px;
        margin-bottom: 25px;
        position: relative;
    }

    #noSongs {
        width:200px;
    }

    .name{
        display: inline-block;
        width:100%;
        margin-bottom: 50px;
    }
    #profPic{
        width: 40%;
        margin-right: 50px;
        margin-left: 50px;
        display:flex;
        position: relative;
    }

    .quote {
        width: 50%;
        float: right;
    }
    #quote {
        margin-right: 10px;
        transform: translateX(-5%);  

    }
    #quoteButton{
        margin-top: 15px;
    }
    #followButton{
        float: right;
    }
    .bio {
        width:100%;
        text-align: center;
        vertical-align: middle;
    }
    .songSection{
        width:350px;
    }

    .albumCard{
        transform: translateX(450px) translateY(-100px);
        color:black;
        position: relative;
    }
    .albumCard img{

        max-width: 80%;
        display: inline;
    }
    .songItem {
        height: 35px;
    }
    
}

@media screen and (min-width:992px) {
    .name{
        margin-bottom: 15px;
    }
    .quote{
        float:none;
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    #quote {
        font-size: 20px;
        width:100%;
        margin-bottom: 5px;
    }
    #quoteButton {
        margin-top: 10px;
    }
    h4 {
        font-size: 30px;
    }
    #profPic {
        margin-right: 0px;
    }
    .iFrame {
        transform: translateX(-150px);
    }
    .flex {
        display: flex;
    }
    .flex #profPic {
        width:auto;
        height:auto;
        max-height: 40rem;
        max-width: 40%;
        margin-bottom: 20px;

    }
    .bio{
        float:right;
        width: 45%;
        margin-right: 50px;
    }
    .bio p {
        font-size: 18px;
    }
    .albumCard {
        max-width: 100%;
    }
    .songSection {
        width: 400px;
        margin-left: 20px;
    }
    #search{
        margin-left: 45px;
    }
    #aboutPage {
        max-width: 1200px;
        margin: auto;

    }
}
