#profPic {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-top: 10px;
}
#quote {
    font-size: 12pt;
    color: gray;
    display: block;
}
#show{
    color: blue;
}
p {
    margin:20px;
}

.albumImg {
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}
iframe{
    margin-top: 15px;
    width:150px;
    height: 30px;
    transform: translateX(-220px);

}

h3 {
 margin-left: 10px;
 text-align: left;
}

.songList {
    text-align: left;
    background-color: black;
    color: white;
    margin-top: 10px;
}
.songItem {
    border-bottom: thin dotted white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.songItem img, .songItem p {
    display: inline;
    margin-left: 10px;
}


@media screen and (min-width:768px){

    iframe{
        transform: translateX(-250px);
    }

    form {
        float: left;
        width: 300px;
        margin-bottom: 25px;
    }

    #noSongs {
        width:200px;
    }

    .name{
        display: inline-block;
        width:100%;
        margin-bottom: 50px;
    }
    #profPic{
        width: 40%;
        margin-right: 50px;
        margin-left: 50px;
        display:flex;
        position: relative;
    }
    .quote{
        width: 50%;
        height: 200px;
        float: right;
    }
    #quote {
        width:80%;
        margin-right: 10px;
        transform: translateX(-5%);  

    }
    #quoteButton{
        margin-top: 15px;
        transform: translateX(-5%);  
    }
    #followButton{
        float: right;
    }
    .bio {
        width:100%;
        text-align: center;
        vertical-align: middle;
    }
    .songSection{
        width:350px;
    }

    .albumCard{
        transform: translateX(450px) translateY(-100px);
        color:black;
        position: relative;
    }
    .albumCard img{

        max-width: 80%;
        display: inline;
    }
    .songItem {
        height: 35px;
    }
    
}

@media screen and (min-width:992px) {
    #quote {
        font-size: 20px;
    }
    h4 {
        font-size: 30px;
    }
    .bio p {
        font-size: 18px;
    }
    .albumCard {
        max-width: 100%;
    }
} 