.quiz {
    margin: 50px;
}

h3 {
    margin: 20px;
    font-size: 150%;
}

form {
    margin: auto;
    width: 50%;
}

.score {
    margin: 30px;
    font-weight: 100;
    font-size: 200%;
}

label {
    font-size: 120%;
}