.quiz {
    margin: 50px;
}

h3 {
    margin: 20px;
    font-size: 150%;
}

form, .answer-choices {
    margin: auto;
    width: 80%;
}

.score {
    margin: 30px;
    font-weight: 100;
    font-size: 200%;
}

label {
    font-size: 120%;
}

.radio {
    text-align: left; 
}

@media screen and (min-width: 768px) {
    .answer-choices {
        width: 50%; 
    }
}

@media screen and (min-width: 992px) {
    .answer-choices {
        width: 40%; 
    }
}


